.signup{
    display: flex;
    justify-content: center;
}
.signup_form{
    background-color: rgb(207, 207, 209);
    color: black;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;    
    gap: 14px;
    border: 1px solid blue;
    border-radius: 20px;
}
.signup_heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.signup_input-group{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}
.signup_label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.signup_input{
    margin-top: 5px;
    width: 300px;
    height: 22px;
    font-size: 14px;
    outline: none;
    border: 1px solid blue;
    border-radius: 10px;
    padding-left: 10px;

}
.signup_options{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.signup_options> input{
    cursor: pointer;
}
.signup_forget{
    font-size: 16px;
}
.signup_button{
    display: flex;
    justify-content: center;
}
.signup_button > button{
    width: 300px;
    height: 28px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
}
.signup_button > button:hover{
    background-color: rgb(66, 77, 243);
    border: none;
}
.signup_login{
    display: flex;
    justify-content: center;
}
.signup_login_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signup_login_text > a {
    font-weight: 500;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
